<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SPA Example</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <link rel="stylesheet" href="./Styles/style.css" />
    <script src="./Scripts/script.js"></script>

</head>

<body>
    <header>
        Това е заглавие
    </header>
    <nav>
        <button>Home</button>
        <button>KittyPaws</button>
        <button>BunnyPaws</button>
        <button>ChickenPaws</button>
        <button>About</button>
    </nav>
    <main>
        <div class="page" id="home">
            Това е началната страница.
        </div>
        <div class="page" id="kittypaws">
            <button>Kittypaws_Create</button>
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Breed</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody class="tbody">
                </tbody>
            </table>
        </div>
        <div class="page" id="kittypaws_create">
            <h1>Kitty Create</h1>
            <form method="POST" action="/kittyAdd">
                <label for="kittyName">Kitty Name:</label>
                <input type="text" name="kittyName" />
                <label for="kittyBreed">Kitty Breed:</label>
                <input type="text" name="kittyBreed" />
                <label for="kittyPrice">Kitty Price:</label>
                <input type="number" name="kittyPrice" />

                <input type="submit" value="Create Kitty" />
            </form>
        </div>
        <div class="page" id="bunnypaws">

            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Bunny Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Petar</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="page" id="chickenpaws">
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Chicken Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Petar</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="page" id="about">
            <p>Това е нашата страница.</p>
        </div>
    </main>
    <footer>
        Това са нашите крака от <span></span> година.
    </footer>
</body>

</html>